/* styles.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    align-items: center;
    font-family: 'YourFirstFont', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.6;
    color: #333;
    background-color: #fff;
}

.container {
    margin: 0 auto;
    max-width: 800px;
    text-align: center;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    background-color: #3e8f40;
    color: #fff;
    box-shadow: 5px 5px 5px rgb(112, 112, 112);
}

header img {
    border-radius: 70%;
    height: 170px;
    width: 170px; 
    max-width: 100%;
    margin-right: 20px; 
    display: flex;
    align-items: center;
    justify-content: center;
}

h2 {
    font-size: 1.2rem;
    color: #1c641c;
    text-align: left;
    margin: 1rem;
}

nav {
	max-width: 700px;
	margin: 1rem auto;
}

nav {
    background-color: #333;
    margin: 0 auto;
    margin: 0.75rem auto;
    max-width: 700px;
    width: 100%;
    
}

nav ul {
    display: flex;
    justify-content: center;
    margin: auto;
    box-shadow: 5px 5px 5px rgb(112, 112, 112);
}

nav li {
    padding: 0px 10px 0px 10px;
    font-size: 20px;
    float: left;
}

nav a {
    display: flex;
    color: #fff;
    text-align: center;
    padding: 0.5rem;
    text-decoration: none;
    text-align: center;
}

.navigation li a:hover {
    text-decoration: underline;
    color: rgb(73, 230, 52);
    font-weight: 700;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

ul {
    list-style: none;
    padding: 0;
}

h2 {
    grid-column: 1 / -1; 
    text-align: left;
    font-size: 1.5rem;
    border-bottom: 1px solid rgb(163, 159, 159);
}

.parent {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 10px; 
}

.parent section {
    border: 1px solid gray;
    background-color: rgb(197, 199, 219);
    border-radius: 5px;
    overflow: hidden;
    margin: 1rem 0;
}

h5 {
    font-size: 15px;
    font-weight: bold;
    margin-left: 2%;
    
}

li {
    margin-left: 10px;
    margin-bottom: 5px;
}

.card01 {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    width: 490px;
    height: 300px;
    margin-left: auto;
    box-shadow: 5px 5px 5px rgb(112, 112, 112);
}

.card02 {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    width: 300px;
    height: 300px;
    margin-bottom: 15px;
    box-shadow: 5px 5px 5px rgb(112, 112, 112);
}

.parent h3 {
    background: #3e8f40;
    color: #ffffff;
    display: block;
    text-align: center;
    font-weight: bold;
    padding: .75rem 0;
    margin-bottom: 20px;
}

.parent p {
    padding: 10px;
}

footer {
    font-size: 14px;
    margin: 0 auto;
    max-width: 800px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3e8f40;
    color: white;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgb(112, 112, 112);
}

.flag {
    height: 40px;
    width: 55px;
    border: solid 1px #b9b6b6;
}

.copyright {
    margin-right: 1%;
}

h1 {
	text-align: left;
	font-family: times, serif;
	font-size: 1.5rem;
	margin-left: 1rem;
}


/*hamburger menu stars here*/
#menu {
    font-size: 1.5rem;
    border: 1px solid rgba(0, 0, 0, .3);
    padding: .25rem .75rem;
    background-color: yellow;
    color: black;
    position: absolute;
    top: 5rem;
    right: 1rem;
}

#menu::before {
    content: "☰";
    color: #3e8f40;
    font-weight: bold;
}

#menu.open::before {
    content: "❎";
    font-size: 1.2rem;
}
  
.navigation {
    display: flex;
    flex-direction: column;
    list-style: none;
    background-color: #333;
    color: #fff;
}

.navigation li, .open li {
    display: none;
}

.navigation li a, .open li a {
    display: block;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: #fff;
}

.open li {
    display: block;
    width: 100%;
}

.stuff {
    margin: .5m;
    border: 1px solid rgba(0, 0, 0, .1);
    background-color: #bed;
    max-width: 580px;
    height: 100vh;
}

/* dark mode styles */
#mode {
    position: fixed;
    right: 75px;
    top: 70px; /* ajuste conforme necessário para definir a posição vertical */
    font-size: 25px;
}