body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

.sidebar {
    padding: 5px;
    height: 100%;
    width: 100%;
}

.localPhotos {
    justify-content: center;
    margin-bottom: 20px;
    align-items: center;
    padding: 5px;
    height: 200px;
    width: calc(50% - 20px); /* Calc para a margem e espaçamento entre as fotos */
    border-radius: 3%;
    box-shadow: 5px 5px 5px rgb(112, 112, 112);
}

h4 {
    margin-bottom: 10px;
}

.info {
    border: 0.5px solid #000000;
    text-align: justify;
    padding: 5%;
    margin-bottom: 20px;
    width: calc(50% - 20px); /* Calc para a margem e espaçamento entre as fotos */
    box-shadow: 5px 5px 5px rgb(112, 112, 112);
    border-radius: 3%;
}

/* Add hover effect to the gallery images */
.localPhotos:hover {
    transform: scale(1.1); /* Increase the size of the image by 10% on hover */
    transition: transform 0.3s ease; /* Add a smooth transition effect */
}

@media screen and (max-width: 700px) {
    main {
        flex-direction: column;
    }

    .info,
    .localPhotos {
        width: calc(100% - 20px); /* Largura total menos as margens */
    }
}